@{
    ViewData["Title"] = "Home Page";
}
@model DirectFerriesTest.Models.UserInfo

<div>
    <form asp-action="ProcessUser">
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" onkeydown="return /^[a-zA-Z ]+$/i.test(event.key)" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DOB" class="control-label"></label>
            <input asp-for="DOB" class="form-control" />

        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>


</div>
